@page "/categories/edit/{id:int}"
@inject ApplicationDbContext Context
@inject NavigationManager Navigation
@rendermode InteractiveServer

@if (Model is null)
{
    <p class="text-center">
        <em>Categoria não encontrada</em>
    </p>
}
else
{
    <h1>@Model.Title (@Model.Id)</h1>
    <EditForm Model="@Model" OnValidSubmit="OnValidSubmit">
        <DataAnnotationsValidator/>
        <ValidationSummary/>

        <div class="mb-3">
            <label class="form-label">Nome da categoria</label>
            <InputText @bind-Value="Model.Title" class="form-control"/>
            <ValidationMessage For="@(() => Model.Title)"/>
        </div>

        <button type="submit" class="btn btn-primary">
            Atualizar
        </button>
        <a href="/categories">Cancelar</a>
    </EditForm>
}

@code {

    [Parameter]
    public int Id { get; set; }

    public Category? Model { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Model = await Context
            .Categories
            .AsNoTracking()
            .FirstOrDefaultAsync(x => x.Id == Id);
    }

    public async Task OnValidSubmit()
    {
        Context.Categories.Update(Model);
        await Context.SaveChangesAsync();
        Navigation.NavigateTo("categories");
    }

}